In [5]:
import pandas as pd

df = pd.read_csv(r"C:\Users\UTBD\Downloads\orders.csv")

In [6]:
import pandas as pd
pd.set_option('display.expand_frame_repr', False)

In [ ]:
print(df.head())

In [ ]:
print(df)

In [ ]:
print(df.tail())

In [ ]:
print(df.tail(13))

In [ ]:
print(df.info())

In [ ]:
print(df.describe())

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df["Country"]

In [ ]:
len(df["Country"])

In [ ]:
set(df["Country"]) ## Unique value

In [ ]:
df[["Country", "Product"]]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[1]

In [ ]:
list(df.iloc[2])

In [ ]:
df.iloc[2]["Country"]

In [ ]:
 df[df["Country"] == "UAE"]   # Filtering

In [ ]:
df[df["Quantity"] == 5]## Filtering

In [ ]:
df[(df["Product"] == "Office Chair") & (df["Category"] == "Furniture")] ## More filtering

In [ ]:
print(df)

In [ ]:
df[(df["Product"] == "Office Chair") | (df["Category"] == "Furniture")] ## Or

In [ ]:
df[df["Quantity"] > 2]

In [ ]:
df[df["Quantity"] < 5]

In [ ]:
df[df["Quantity"] == 5]

In [ ]:
df[df["CustomerName"].str.startswith("A")]

In [ ]:
df[df["CustomerName"].str.endswith("a")]

In [ ]:
df[df["CustomerName"].str.endswith("e")]

In [ ]:
df[df["CustomerName"].str.endswith("n")]

In [ ]:
df[df["Country"].isin(['USA', 'Sweden', 'UK'])]

In [ ]:
df[~df["Country"].isin(["USA", "UK", "Sweden"])]

In [9]:
df.loc[df["CustomerName"] == "Anna Ivanova", "Product"]= "Book"

In [11]:
df.loc[df["CustomerName"] == "Anna Ivanova"]

    OrderID  CustomerName Product   Category  Quantity  Price   OrderDate Shipped  Country
39     1040  Anna Ivanova    Book  Furniture         1   35.0  2024-07-11     Yes  Ukraine

In [12]:
df.loc[df["CustomerName"] == "Anna Ivanova", "Country"] = "Bangladesh"

In [14]:
print(df)

    OrderID      CustomerName                Product     Category  Quantity   Price   OrderDate Shipped       Country
0      1001        John Smith                 Laptop  Electronics         1  1200.0  2024-06-01     Yes           USA
1      1002         Sarah Lee             Headphones  Electronics         2   150.0  2024-06-03      No        Canada
2      1003          Ali Khan           Office Chair    Furniture         1   300.0  2024-06-04     Yes           UAE
3      1004        Alice Wong              Desk Lamp    Furniture         3    45.0  2024-06-05     Yes     Singapore
4      1005     Carlos Mendez               Keyboard  Electronics         2    80.0  2024-06-06      No        Mexico
5      1006      Nora Ibrahim               Notebook   Stationery         5     5.0  2024-06-07     Yes           UAE
6      1007       Emily Davis          Standing Desk    Furniture         1   450.0  2024-06-08     Yes            UK
7      1008        James Park                Monitor  Electronics         2   220.0  2024-06-09      No   South Korea
8      1009       Maria Rossi                    Pen   Stationery        10     1.5  2024-06-10     Yes         Italy
9      1010  Takeshi Nakamura                  Mouse  Electronics         1    35.0  2024-06-11     Yes         Japan
10     1011     Sophie Martin                 Webcam  Electronics         1    85.0  2024-06-12     Yes        France
11     1012         Raj Patel           File Cabinet    Furniture         2   180.0  2024-06-13      No         India
12     1013       Emma Wilson                Stapler   Stationery         3    12.0  2024-06-14     Yes     Australia
13     1014   Diego Rodriguez              USB Drive  Electronics         5    25.0  2024-06-15     Yes         Spain
14     1015         Lisa Chen              Bookshelf    Furniture         1   280.0  2024-06-16      No         China
15     1016      Ahmed Hassan          Printer Paper   Stationery        20     8.0  2024-06-17     Yes         Egypt
16     1017     Anna Kowalski         Wireless Mouse  Electronics         2    45.0  2024-06-18     Yes        Poland
17     1018     Michael Brown         Desk Organizer    Furniture         1    65.0  2024-06-19      No           USA
18     1019       Yuki Tanaka             Calculator  Electronics         1    15.0  2024-06-20     Yes         Japan
19     1020   Fatima Al-Zahra             Whiteboard    Furniture         1   120.0  2024-06-21     Yes  Saudi Arabia
20     1021    David Thompson           Highlighters   Stationery         8     3.5  2024-06-22      No        Canada
21     1022    Isabella Silva      Bluetooth Speaker  Electronics         1    95.0  2024-06-23     Yes        Brazil
22     1023    Oliver Schmidt           Office Plant    Furniture         2    35.0  2024-06-24     Yes       Germany
23     1024        Zara Ahmed           Sticky Notes   Stationery        15     4.0  2024-06-25      No      Pakistan
24     1025    Lucas Anderson           Tablet Stand  Electronics         1    28.0  2024-06-26     Yes        Sweden
25     1026      Chloe Dubois         Paper Shredder  Electronics         1    75.0  2024-06-27     Yes        France
26     1027     Miguel Torres         Desk Chair Mat    Furniture         1    22.0  2024-06-28      No     Argentina
27     1028       Nina Petrov           Binder Clips   Stationery        12     2.5  2024-06-29     Yes        Russia
28     1029      Seo-yeon Kim      Wireless Keyboard  Electronics         1   110.0  2024-06-30     Yes   South Korea
29     1030   Giuseppe Romano          Desk Calendar    Furniture         1    18.0  2024-07-01      No         Italy
30     1031      Amira Hassan                USB Hub  Electronics         1    32.0  2024-07-02     Yes       Morocco
31     1032     Thomas Müller       Document Scanner  Electronics         1   140.0  2024-07-03     Yes       Germany
32     1033   Sofia Rodriguez  Desk Drawer Organizer    Furniture         1    42.0  2024-07-04      No      Colombia
33     1034      Alex Johnson            Index Cards   Stationery       100     0.8  2024-07-05     Yes           USA
34     1035     Yuki Yamamoto          Monitor Stand  Electronics         1    55.0  2024-07-06     Yes         Japan
35     1036     Emma Thompson     Desk Lamp with USB    Furniture         1    68.0  2024-07-07      No            UK
36     1037     Carlos Santos       Wireless Earbuds  Electronics         1   125.0  2024-07-08     Yes      Portugal
37     1038    Leila Mansouri               Desk Pad    Furniture         1    28.0  2024-07-09     Yes          Iran
38     1039        Daniel Kim            Power Strip  Electronics         2    18.0  2024-07-10      No   South Korea
39     1040      Anna Ivanova                   Book    Furniture         1    35.0  2024-07-11     Yes    Bangladesh

In [15]:
df["CustomerName"] = df["CustomerName"].str.upper()

In [17]:
df["CustomerName"]

0           JOHN SMITH
1            SARAH LEE
2             ALI KHAN
3           ALICE WONG
4        CARLOS MENDEZ
5         NORA IBRAHIM
6          EMILY DAVIS
7           JAMES PARK
8          MARIA ROSSI
9     TAKESHI NAKAMURA
10       SOPHIE MARTIN
11           RAJ PATEL
12         EMMA WILSON
13     DIEGO RODRIGUEZ
14           LISA CHEN
15        AHMED HASSAN
16       ANNA KOWALSKI
17       MICHAEL BROWN
18         YUKI TANAKA
19     FATIMA AL-ZAHRA
20      DAVID THOMPSON
21      ISABELLA SILVA
22      OLIVER SCHMIDT
23          ZARA AHMED
24      LUCAS ANDERSON
25        CHLOE DUBOIS
26       MIGUEL TORRES
27         NINA PETROV
28        SEO-YEON KIM
29     GIUSEPPE ROMANO
30        AMIRA HASSAN
31       THOMAS MÜLLER
32     SOFIA RODRIGUEZ
33        ALEX JOHNSON
34       YUKI YAMAMOTO
35       EMMA THOMPSON
36       CARLOS SANTOS
37      LEILA MANSOURI
38          DANIEL KIM
39        ANNA IVANOVA
Name: CustomerName, dtype: object

In [18]:
df["Product"] = df["Product"].str.lower()

In [19]:
df["Product"]

0                    laptop
1                headphones
2              office chair
3                 desk lamp
4                  keyboard
5                  notebook
6             standing desk
7                   monitor
8                       pen
9                     mouse
10                   webcam
11             file cabinet
12                  stapler
13                usb drive
14                bookshelf
15            printer paper
16           wireless mouse
17           desk organizer
18               calculator
19               whiteboard
20             highlighters
21        bluetooth speaker
22             office plant
23             sticky notes
24             tablet stand
25           paper shredder
26           desk chair mat
27             binder clips
28        wireless keyboard
29            desk calendar
30                  usb hub
31         document scanner
32    desk drawer organizer
33              index cards
34            monitor stand
35       desk lamp with usb
36         wireless earbuds
37                 desk pad
38              power strip
39                     book
Name: Product, dtype: object

In [20]:
print(df)

    OrderID      CustomerName                Product     Category  Quantity   Price   OrderDate Shipped       Country
0      1001        JOHN SMITH                 laptop  Electronics         1  1200.0  2024-06-01     Yes           USA
1      1002         SARAH LEE             headphones  Electronics         2   150.0  2024-06-03      No        Canada
2      1003          ALI KHAN           office chair    Furniture         1   300.0  2024-06-04     Yes           UAE
3      1004        ALICE WONG              desk lamp    Furniture         3    45.0  2024-06-05     Yes     Singapore
4      1005     CARLOS MENDEZ               keyboard  Electronics         2    80.0  2024-06-06      No        Mexico
5      1006      NORA IBRAHIM               notebook   Stationery         5     5.0  2024-06-07     Yes           UAE
6      1007       EMILY DAVIS          standing desk    Furniture         1   450.0  2024-06-08     Yes            UK
7      1008        JAMES PARK                monitor  Electronics         2   220.0  2024-06-09      No   South Korea
8      1009       MARIA ROSSI                    pen   Stationery        10     1.5  2024-06-10     Yes         Italy
9      1010  TAKESHI NAKAMURA                  mouse  Electronics         1    35.0  2024-06-11     Yes         Japan
10     1011     SOPHIE MARTIN                 webcam  Electronics         1    85.0  2024-06-12     Yes        France
11     1012         RAJ PATEL           file cabinet    Furniture         2   180.0  2024-06-13      No         India
12     1013       EMMA WILSON                stapler   Stationery         3    12.0  2024-06-14     Yes     Australia
13     1014   DIEGO RODRIGUEZ              usb drive  Electronics         5    25.0  2024-06-15     Yes         Spain
14     1015         LISA CHEN              bookshelf    Furniture         1   280.0  2024-06-16      No         China
15     1016      AHMED HASSAN          printer paper   Stationery        20     8.0  2024-06-17     Yes         Egypt
16     1017     ANNA KOWALSKI         wireless mouse  Electronics         2    45.0  2024-06-18     Yes        Poland
17     1018     MICHAEL BROWN         desk organizer    Furniture         1    65.0  2024-06-19      No           USA
18     1019       YUKI TANAKA             calculator  Electronics         1    15.0  2024-06-20     Yes         Japan
19     1020   FATIMA AL-ZAHRA             whiteboard    Furniture         1   120.0  2024-06-21     Yes  Saudi Arabia
20     1021    DAVID THOMPSON           highlighters   Stationery         8     3.5  2024-06-22      No        Canada
21     1022    ISABELLA SILVA      bluetooth speaker  Electronics         1    95.0  2024-06-23     Yes        Brazil
22     1023    OLIVER SCHMIDT           office plant    Furniture         2    35.0  2024-06-24     Yes       Germany
23     1024        ZARA AHMED           sticky notes   Stationery        15     4.0  2024-06-25      No      Pakistan
24     1025    LUCAS ANDERSON           tablet stand  Electronics         1    28.0  2024-06-26     Yes        Sweden
25     1026      CHLOE DUBOIS         paper shredder  Electronics         1    75.0  2024-06-27     Yes        France
26     1027     MIGUEL TORRES         desk chair mat    Furniture         1    22.0  2024-06-28      No     Argentina
27     1028       NINA PETROV           binder clips   Stationery        12     2.5  2024-06-29     Yes        Russia
28     1029      SEO-YEON KIM      wireless keyboard  Electronics         1   110.0  2024-06-30     Yes   South Korea
29     1030   GIUSEPPE ROMANO          desk calendar    Furniture         1    18.0  2024-07-01      No         Italy
30     1031      AMIRA HASSAN                usb hub  Electronics         1    32.0  2024-07-02     Yes       Morocco
31     1032     THOMAS MÜLLER       document scanner  Electronics         1   140.0  2024-07-03     Yes       Germany
32     1033   SOFIA RODRIGUEZ  desk drawer organizer    Furniture         1    42.0  2024-07-04      No      Colombia
33     1034      ALEX JOHNSON            index cards   Stationery       100     0.8  2024-07-05     Yes           USA
34     1035     YUKI YAMAMOTO          monitor stand  Electronics         1    55.0  2024-07-06     Yes         Japan
35     1036     EMMA THOMPSON     desk lamp with usb    Furniture         1    68.0  2024-07-07      No            UK
36     1037     CARLOS SANTOS       wireless earbuds  Electronics         1   125.0  2024-07-08     Yes      Portugal
37     1038    LEILA MANSOURI               desk pad    Furniture         1    28.0  2024-07-09     Yes          Iran
38     1039        DANIEL KIM            power strip  Electronics         2    18.0  2024-07-10      No   South Korea
39     1040      ANNA IVANOVA                   book    Furniture         1    35.0  2024-07-11     Yes    Bangladesh

In [21]:
df["Product"] = df["Product"].str.title()

In [22]:
df["Product"]

0                    Laptop
1                Headphones
2              Office Chair
3                 Desk Lamp
4                  Keyboard
5                  Notebook
6             Standing Desk
7                   Monitor
8                       Pen
9                     Mouse
10                   Webcam
11             File Cabinet
12                  Stapler
13                Usb Drive
14                Bookshelf
15            Printer Paper
16           Wireless Mouse
17           Desk Organizer
18               Calculator
19               Whiteboard
20             Highlighters
21        Bluetooth Speaker
22             Office Plant
23             Sticky Notes
24             Tablet Stand
25           Paper Shredder
26           Desk Chair Mat
27             Binder Clips
28        Wireless Keyboard
29            Desk Calendar
30                  Usb Hub
31         Document Scanner
32    Desk Drawer Organizer
33              Index Cards
34            Monitor Stand
35       Desk Lamp With Usb
36         Wireless Earbuds
37                 Desk Pad
38              Power Strip
39                     Book
Name: Product, dtype: object

In [25]:
df = df.drop(5) ## To remove something

In [26]:
df.head()

   OrderID   CustomerName        Product     Category  Quantity  Price   OrderDate Shipped    Country
1     1002      SARAH LEE     Headphones  Electronics         2  150.0  2024-06-03      No     Canada
2     1003       ALI KHAN   Office Chair    Furniture         1  300.0  2024-06-04     Yes        UAE
3     1004     ALICE WONG      Desk Lamp    Furniture         3   45.0  2024-06-05     Yes  Singapore
4     1005  CARLOS MENDEZ       Keyboard  Electronics         2   80.0  2024-06-06      No     Mexico
6     1007    EMILY DAVIS  Standing Desk    Furniture         1  450.0  2024-06-08     Yes         UK

In [28]:
df = df.dropna()  ## To remove emty data

In [30]:
df.rename(columns= {"OrderID": "Order Id"}, inplace = True)

In [31]:
df.rename(columns = {"CustomerName": "Customer Name"}, inplace = True)

In [32]:
df.head(3)

   Order Id Customer Name       Product     Category  Quantity  Price   OrderDate Shipped    Country
1      1002     SARAH LEE    Headphones  Electronics         2  150.0  2024-06-03      No     Canada
2      1003      ALI KHAN  Office Chair    Furniture         1  300.0  2024-06-04     Yes        UAE
3      1004    ALICE WONG     Desk Lamp    Furniture         3   45.0  2024-06-05     Yes  Singapore

In [33]:
df.rename(columns = {"OrderDate": "Order Date"}, inplace = True)

In [34]:
df.tail(3)

    Order Id   Customer Name      Product     Category  Quantity  Price  Order Date Shipped      Country
37      1038  LEILA MANSOURI     Desk Pad    Furniture         1   28.0  2024-07-09     Yes         Iran
38      1039      DANIEL KIM  Power Strip  Electronics         2   18.0  2024-07-10      No  South Korea
39      1040    ANNA IVANOVA         Book    Furniture         1   35.0  2024-07-11     Yes   Bangladesh

In [35]:
df["Country"].value_counts()

Country
Japan           3
South Korea     3
Canada          2
UK              2
France          2
Italy           2
Germany         2
USA             2
Mexico          1
India           1
UAE             1
Singapore       1
Spain           1
Australia       1
Egypt           1
China           1
Poland          1
Saudi Arabia    1
Brazil          1
Pakistan        1
Sweden          1
Argentina       1
Russia          1
Morocco         1
Colombia        1
Portugal        1
Iran            1
Bangladesh      1
Name: count, dtype: int64

In [36]:
df["Product"].value_counts()

Product
Headphones               1
Office Chair             1
Desk Lamp                1
Keyboard                 1
Standing Desk            1
Monitor                  1
Pen                      1
Mouse                    1
Webcam                   1
File Cabinet             1
Stapler                  1
Usb Drive                1
Bookshelf                1
Printer Paper            1
Wireless Mouse           1
Desk Organizer           1
Calculator               1
Whiteboard               1
Highlighters             1
Bluetooth Speaker        1
Office Plant             1
Sticky Notes             1
Tablet Stand             1
Paper Shredder           1
Desk Chair Mat           1
Binder Clips             1
Wireless Keyboard        1
Desk Calendar            1
Usb Hub                  1
Document Scanner         1
Desk Drawer Organizer    1
Index Cards              1
Monitor Stand            1
Desk Lamp With Usb       1
Wireless Earbuds         1
Desk Pad                 1
Power Strip              1
Book                     1
Name: count, dtype: int64

In [37]:
df.groupby("Country")["Price"].sum()

Country
Argentina        22.0
Australia        12.0
Bangladesh       35.0
Brazil           95.0
Canada          153.5
China           280.0
Colombia         42.0
Egypt             8.0
France          160.0
Germany         175.0
India           180.0
Iran             28.0
Italy            19.5
Japan           105.0
Mexico           80.0
Morocco          32.0
Pakistan          4.0
Poland           45.0
Portugal        125.0
Russia            2.5
Saudi Arabia    120.0
Singapore        45.0
South Korea     348.0
Spain            25.0
Sweden           28.0
UAE             300.0
UK              518.0
USA              65.8
Name: Price, dtype: float64

In [38]:
df.sort_values("Price", ascending = False)

    Order Id     Customer Name                Product     Category  Quantity  Price  Order Date Shipped       Country
6       1007       EMILY DAVIS          Standing Desk    Furniture         1  450.0  2024-06-08     Yes            UK
2       1003          ALI KHAN           Office Chair    Furniture         1  300.0  2024-06-04     Yes           UAE
14      1015         LISA CHEN              Bookshelf    Furniture         1  280.0  2024-06-16      No         China
7       1008        JAMES PARK                Monitor  Electronics         2  220.0  2024-06-09      No   South Korea
11      1012         RAJ PATEL           File Cabinet    Furniture         2  180.0  2024-06-13      No         India
1       1002         SARAH LEE             Headphones  Electronics         2  150.0  2024-06-03      No        Canada
31      1032     THOMAS MÜLLER       Document Scanner  Electronics         1  140.0  2024-07-03     Yes       Germany
36      1037     CARLOS SANTOS       Wireless Earbuds  Electronics         1  125.0  2024-07-08     Yes      Portugal
19      1020   FATIMA AL-ZAHRA             Whiteboard    Furniture         1  120.0  2024-06-21     Yes  Saudi Arabia
28      1029      SEO-YEON KIM      Wireless Keyboard  Electronics         1  110.0  2024-06-30     Yes   South Korea
21      1022    ISABELLA SILVA      Bluetooth Speaker  Electronics         1   95.0  2024-06-23     Yes        Brazil
10      1011     SOPHIE MARTIN                 Webcam  Electronics         1   85.0  2024-06-12     Yes        France
4       1005     CARLOS MENDEZ               Keyboard  Electronics         2   80.0  2024-06-06      No        Mexico
25      1026      CHLOE DUBOIS         Paper Shredder  Electronics         1   75.0  2024-06-27     Yes        France
35      1036     EMMA THOMPSON     Desk Lamp With Usb    Furniture         1   68.0  2024-07-07      No            UK
17      1018     MICHAEL BROWN         Desk Organizer    Furniture         1   65.0  2024-06-19      No           USA
34      1035     YUKI YAMAMOTO          Monitor Stand  Electronics         1   55.0  2024-07-06     Yes         Japan
3       1004        ALICE WONG              Desk Lamp    Furniture         3   45.0  2024-06-05     Yes     Singapore
16      1017     ANNA KOWALSKI         Wireless Mouse  Electronics         2   45.0  2024-06-18     Yes        Poland
32      1033   SOFIA RODRIGUEZ  Desk Drawer Organizer    Furniture         1   42.0  2024-07-04      No      Colombia
22      1023    OLIVER SCHMIDT           Office Plant    Furniture         2   35.0  2024-06-24     Yes       Germany
9       1010  TAKESHI NAKAMURA                  Mouse  Electronics         1   35.0  2024-06-11     Yes         Japan
39      1040      ANNA IVANOVA                   Book    Furniture         1   35.0  2024-07-11     Yes    Bangladesh
30      1031      AMIRA HASSAN                Usb Hub  Electronics         1   32.0  2024-07-02     Yes       Morocco
24      1025    LUCAS ANDERSON           Tablet Stand  Electronics         1   28.0  2024-06-26     Yes        Sweden
37      1038    LEILA MANSOURI               Desk Pad    Furniture         1   28.0  2024-07-09     Yes          Iran
13      1014   DIEGO RODRIGUEZ              Usb Drive  Electronics         5   25.0  2024-06-15     Yes         Spain
26      1027     MIGUEL TORRES         Desk Chair Mat    Furniture         1   22.0  2024-06-28      No     Argentina
38      1039        DANIEL KIM            Power Strip  Electronics         2   18.0  2024-07-10      No   South Korea
29      1030   GIUSEPPE ROMANO          Desk Calendar    Furniture         1   18.0  2024-07-01      No         Italy
18      1019       YUKI TANAKA             Calculator  Electronics         1   15.0  2024-06-20     Yes         Japan
12      1013       EMMA WILSON                Stapler   Stationery         3   12.0  2024-06-14     Yes     Australia
15      1016      AHMED HASSAN          Printer Paper   Stationery        20    8.0  2024-06-17     Yes         Egypt
23      1024        ZARA AHMED           Sticky Notes   Stationery        15    4.0  2024-06-25      No      Pakistan
20      1021    DAVID THOMPSON           Highlighters   Stationery         8    3.5  2024-06-22      No        Canada
27      1028       NINA PETROV           Binder Clips   Stationery        12    2.5  2024-06-29     Yes        Russia
8       1009       MARIA ROSSI                    Pen   Stationery        10    1.5  2024-06-10     Yes         Italy
33      1034      ALEX JOHNSON            Index Cards   Stationery       100    0.8  2024-07-05     Yes           USA

In [39]:
df.to_csv("New_File.csv", index = False)